  <div class="container mb-5 mt-3" style="border-style: solid; font-family: 'Bookman Old Style'">
    <h1 style="text-align: center"> Lits Facility </h1>
    <div class="card-group">
      <div class="col-4" *ngFor="let facility of listFacility">
        <div class="card mb-1 mt-1" >
          <img class="card-img-top" src="{{facility.img}}" alt="Card image cap">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h4 class="card-title">{{facility.name}}</h4>
              </div>
              <div class="col-auto">
                <i class="bi bi-info-circle"></i>
                <a href="#"><small>Know more</small></a>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <small class="card-text">Room Size 85.8 m²</small>
              </div>
              <div class="col-auto">
                <button style="border-radius: 20px;background-color: #046056;color: white"> Book now </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
