
<div class="container">
  <div class="row">
    <div class="col-12 mb-5 mt-5">
      <h1 style="text-align: center;margin-top: 10px;margin-bottom :10px;font-family: 'Bookman Old Style'"> List Customer</h1>
      <table class="table" style="color: black;font-family: 'Bookman Old Style'">
        <thead>
        <tr>
          <th scope="col">Full name</th>
          <th scope="col">DOB</th>
          <th scope="col">Gender</th>
          <th scope="col">Customer Type</th>
          <th scope="col">Address</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let customer of customerList">
          <td>{{customer.fullName}}</td>
          <td>{{customer.dateOfBirth}}</td>
          <td>{{customer.gender}}</td>
          <td>{{customer.customerType}}</td>
          <td>{{customer.customerAdress}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

