<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

</head>
<body>
<div class="fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark " style="position: marker ; background-color: #046056 ">
    <a class="navbar-brand" style="font-family:'Bookman Old Style';color: white" [routerLink]="['']">Furama Resort</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Employee
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['listEmployee']">List Employee</a>
            <a class="dropdown-item" [routerLink]="['ediEmployee']">Edit Employee </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['addNewEmployee']">Add new employee</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Customer
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['customerList']">List Customer</a>
            <a class="dropdown-item" [routerLink]="['editCustomer']">Edit Customer </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['addNewCustomer']">Add new Customer</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Facility
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['listFacility']">List Facility</a>
            <a class="dropdown-item" [routerLink]="['editFacility']">Edit Facility </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['addNewFacility']">Add new Facility</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Service
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['listService']">List Service</a>
            <a class="dropdown-item" [routerLink]="['editService']">Edit Service </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['addNewService']" >Add new Service</a>
          </div>
        </li>
      </div>
    </div>
  </nav>
</div>
<div class="container-fluid">
  <img src="https://furamavietnam.com/wp-content/uploads/2018/08/banner01.jpg?id=1433" width="100%">
  <div class="centered">
    <h1 style="font-family: 'Bookman Old Style'">Furama Resort</h1>
  </div>
  <div>
  </div>
</div>
</body>
</html>
