
<div class="container mb-5 mt-5" style="border-style: solid">
  <form method="post" style="font-family: 'Bookman Old Style'">
    <h1 style="text-align: center">Edit Customer</h1>
    <div class="row">
      <div class="mb-3 col-6">
        <label for="nameEmployee" class="form-label">Name employee</label>
        <input type="text" class="form-control" id="nameEmployee" placeholder="Input name of employee">
        <label for="dateOfBirth" class="form-label">Date Of Birth</label>
        <input type="date" class="form-control" id="dateOfBirth" placeholder="Input date Of Birth">
        <label for="idCard" class="form-label">ID Card</label>
        <input type="text" class="form-control" id="idCard" placeholder="Input Identify Card">
      </div>
      <div class="mb-3 col-6">
        <label for="emailEmployee" class="form-label">Email Employee</label>
        <input type="email" class="form-control" id="emailEmployee" placeholder="example@gmail.com">
        <br>
        <label for="educationDegree" class="form-label">Education Degree</label>
        <select id="educationDegree" style="margin-left: 21px">
          <option>
            Choose Education Degree
          </option>
          <option>
            intermediate
          </option>
          <option>
            College
          </option>
          <option>
            Graduate
          </option>
          <option>
            After university
          </option>
        </select>
        <br>
        <label for="positionEmployee" class="form-label mt-5"> Employee Position </label>
        <select id="positionEmployee" style="margin-left: 20px">
          <option>
            Choose position
          </option>
          <option>
            Receptionist
          </option>
          <option>
            Serve
          </option>
          <option>
            Expert
          </option>
          <option>
            Monitoring
          </option>
          <option>
            Manager
          </option>
          <option>
            Direction
          </option>
        </select>
      </div>
      <div class="col-3 mb-3">
        <label for="salaryEmployee" class="form-label">Salary Employee</label>
        <input type="number" class="form-control" id="salaryEmployee" placeholder="$">
      </div>
    </div>
    <button type="submit" style="margin-bottom: 10px"> Submit </button>
  </form>
</div>

