<h2>Student profile</h2>
<h3>Student Name: {{student.name}}</h3>
<h1>Điểm:<span [style.color]="color">{{student.mark}}</span></h1>
<label>
  Student name:
  <input type="text" [(ngModel)]="student.name">
</label>
<br >
<label>
  Id:
  <input type="text" [(ngModel)]="student.id">
</label>
<br>
<label>
  Age:
  <input type="text" [(ngModel)]="student.age">
</label>
<br>
<label>
  address:
  <input type="text" [(ngModel)]="student.address">
</label>
<br>
<label>
  Mark:
  <input type="text" [(ngModel)]="student.mark">
</label>
<br >
